In [1]:
# 기초문법 #9. 튜플, 집합

In [2]:
# 튜플
"""
    리스트는 [ ] 로, 튜플은 ( ) 로 둘러싼다.
    리스트는 값의 생성,삭제,수정이 가능하지만 튜플은 값을 바꿀 수 없다.
"""

example_tupleOne = (1, 2)
example_tupleTwo = ("python", 2, 5)
example_tupleThree = (1, 2, (3, 4, 5))

print(example_tupleOne)
print(example_tupleTwo)
print(example_tupleThree)

(1, 2)
('python', 2, 5)
(1, 2, (3, 4, 5))

In [4]:
"""
    값을 추가, 삭제할 수 없지만
    + , * 연산으로 튜플을 추가, 반복할 수 있다.
"""

example_tupleOne = (1, 2, 3)
example_tupleTwo = (4, 5, 6, 7)

plus_tuple = example_tupleOne + example_tupleTwo
multi_tuple = example_tupleOne * 2

print(plus_tuple)
print(multi_tuple)

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 1, 2, 3)

In [5]:
"""
    튜플의 장점 - 함수의 리턴값을 한꺼번에 여러개 받을 수 있다.
    
    콤마로 분리해, 리스트에서 두 개의 값을 함수의 return값으로 사용하고 있는데
    이 경우, 함수의 리턴값이 자동으로 튜플로 처리된다
"""

def minmax(ex_lst):
    return min(ex_lst), max(ex_lst)

ex_lst = [1,2,3,4,5]
result_tuple = minmax(ex_lst)

print(result_tuple)

(1, 5)

In [6]:
# 집합
"""
    집합은 {} 또는 set()을 통해 생성할 수 있다.
    다만 {} 를 이용해 생성할 때 원소를 넣지 않으면 딕셔너리가 생성되므로 주의해야 한다
    
    - 중복 값 X
    - 순서 존재 
    - 인덱스를 통한 값 접근 X
"""

setOne = {1,2,3}
setTwo = set([7,6,5,4,1])
setThree = set("Hello World!")

print(setOne)
print(setTwo)
print(setThree)

{1, 2, 3}
{1, 4, 5, 6, 7}
{'H', 'o', 'W', 'l', 'r', ' ', 'd', '!', 'e'}

In [7]:
"""
    교집합 - '&' 기호 또는 intersection 함수
"""

setOne = {1,2,3}
setTwo = {2,3,4}

print(setOne & setTwo)
print(setOne.intersection(setTwo))

{2, 3}
{2, 3}

In [8]:
"""
    합집합 - '|' 기호 또는 union 함수
"""

setOne = {1,2,3}
setTwo = {2,3,4}

print(setOne | setTwo)
print(setOne.union(setTwo))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [9]:
"""
    차집합 - '-' 기호 또는 difference 함수
"""

setOne = {1,2,3}
setTwo = {2,3,4}

print(setOne - setTwo)
print(setOne.difference(setTwo))

{1}
{1}

In [11]:
"""
    집합과 관련된 함수
    
    값의 추가
    - add 함수 : 하나의 값을 추가
    - update 함수 : 여러개의 값을 추가
    
    값의 제거
    - remove 함수 : 원소 제거
"""

setOne = {1,2,3}
setTwo = {2,3,4}

print(setOne)
print(setTwo)

setOne.add(5)
setTwo.update([9,8,7])

print(setOne)
print(setTwo)

setTwo.remove(2)
print(setTwo)

{1, 2, 3}
{2, 3, 4}
{1, 2, 3, 5}
{2, 3, 4, 7, 8, 9}
{3, 4, 7, 8, 9}